.side_bar
  .side_bar__user-name
    .top-items
      .top-items__name 
        masa
      = link_to "#" , class: "top-items__icons" do
        %i.fas.fa-edit
        %i.fas.fa-cog
  .side_bar__group-list
    .group
      .group__name
        texhcamp
      .group__text
        まだメーッセージがありません
      .group__name
        texhcamp
      .group__text
        まだメーッセージがありません